/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2016, 8:42:58 AM
    Author     : vienle
*/

table{
    border: 1px solid #ccc;
}
td{
    border: 1px solid #ccc;
}